<div class="container">

	<h1 class="text-center m-2">Connexion</h1>

	<%= form_tag("/sessions", method: "post") do %>
		
		<%= label_tag(:email, "Email :") %>
		<%= text_field_tag :email, nil, class: "form-control" %>

		<%= label_tag(:password, "Mot de Passe :") %>
		<%= text_field_tag(:password, nil, type: "password", class: "form-control") %>
		
		<%= submit_tag("Connexion", class: "my-3 form-group btn btn-success btn-lg btn-block") %>

	<% end %>


</div>
